/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  background: #006D77;
  font-family: 'Inter', sans-serif;
}

h1{
  font-size: 70px;
  text-align: center;
  color: #EDF6F9;
  margin: 2rem auto;
}

:root{
    --winning-blocks: #E29578;
}

.container {
  padding: 40px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.board {
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  background: #83C5BE;
}

.box {
height: 150px;
width: 150px;
display: flex;
align-items: center;
justify-content: center;
color: #EDF6F9;
font-size: 100px;
border-right: 2px solid;
border-bottom: 2px solid;
}

.box:nth-child(3n) {
  border-right: none;
}

.box:nth-child(6) ~ .box {
  border-bottom: none;
}


#btn {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #E29578;
  color: #EDF6F9;
  border-color: #E29578;
  font-size: 18px;
  transition: 200ms transform;
  font-weight: 600;
}
/* display block property starts on a new line and takes up the available screen width
margin-left, margin-right centers the element. */


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/* Colors for X's and O's #FFDDD2 and #E29578-same as background button */