.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    align-items: center;
}

section {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    border: 1px solid;
    width: 125px;
    height: 125px;
    display: flex;
    align-items: center;

}

.btn-container {
    padding: 5px;
    display: block;


}